<%= form_tag charges_path, id: 'chargeForm' do %>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <%= hidden_field_tag 'stripeToken' %>
    <%= hidden_field_tag 'stripeEmail' %>

Amount: <input type="text" name="chargeAmount" id="chargeAmount"/><br>
Description :<input type="text" name="chargeDescription" id="chargeDescription"/><br>
    <input type="hidden" name="challengeid" id="chargeDescription" value=<%= challengeid %> />


    <script src="https://checkout.stripe.com/checkout.js"></script>

    <button id="customButton">Pay</button>

    <script>
        var handler = StripeCheckout.configure({
            key: '',  <%# Stripe published key goes here %>
            image: '/img/documentation/checkout/marketplace.png',
            locale: 'auto',
            token: function(token) {
                // Use the token to create the charge with a server-side script.
                // You can access the token ID with `token.id`
                document.getElementById("stripeToken").value = token.id;
                document.getElementById("stripeEmail").value = token.email;
                document.getElementById("chargeForm").submit();
            }
        });

        $('#customButton').on('click', function(e) {
            var vamount = document.getElementById("chargeAmount").value * 100;

            console.log("amount entered: " + vamount);

            // Open Checkout with further options
            handler.open({
                name: 'YakYik',
                description: document.getElementById("chargeDescription").value,
                amount: vamount
            });
            e.preventDefault();
        });

        // Close Checkout on page navigation
        $(window).on('popstate', function() {
            handler.close();
        });
    </script>
    <% end %>