<footer>
	

	<ul class="nav navbar-nav navbar-custom  list">
		<li><%= link_to "Contact Us",         	contact_path %></li>
		<li><%= link_to "About Us",     		about_path %></li>
		<li><%= link_to "Policy",        		policy_path %></li>
	</ul>

</footer>